<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetMatch</title>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/html"/>
    <link rel="stylesheet" href="/css/uikit.min.css" type="text/html"/>
    <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
</head>
<body>

    {{{body}}}

<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
