<!-- <p>This page is for the creation of new event entries.</p> !-->

<h1>Add an Event</h1>
<ul>
  {{#each events}}
    <li>
      <p>
        {{this.id}}. {{this.event}}
        <button data-eventid="{{this.id}}" class="delEvent">Delete</button>
      </p>
    </li>
  {{/each}}
</ul>


<h2></h2>
<form id="addEvent" class="button-size">
	<textarea type="text" name="event"></textarea>
	<button type="submit">Save Event</button>
</form>


<h2>Update Event</h2>
<form id="updateEvent" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="event"></textarea>
	<button type="submit">Event</button>
</form>