<p>Here is where we list our events.</p>
<p>Logged in users will have the option to create a <a href="/addEvent">new event listing.</a></p>
<ul><li>With links to <a href="/eventDetails?id=1234">event details</a>.</li></ul>