<p class="indexP">This is the landing page.</p>
<p><a href="/login">Log in</a> or <a href="/register">register.</a></p>
<p>Browse <a href="/rescues">rescues</a> or <a href="/events">events</a>.</p>
<p>Logged in users can view their own <a href="/profile">profile</a>.</p>