<div class="wrapper container">

<div class="textarea1">
<p>Form for logging in will be here. If we use OAuth it may not be necessary? Or we might need it to prompt the user to use their google/facebook/etc login.</p>
</div>

<div class="textarea2">
<p>Right now the only option is <a href="/auth/google/auth">Google</a>.</p>
</div>

</div>