<p>Here we would query our apis and render the page when the API returns. We should consider pageinating the results.</p>
<ul><li>

	{{{body}}}
	
    Each item links to a <a href="/rescueDetails?rescueId=1234">details</a> page.
	
</li></ul>

