<p>Here is where we list details for a specific rescue. Again, we need to poll the relevant API, then render.</p>
<p>If available, we can also provide contact links (mailto, or to contact forms on outside sites)</p>