@import url("reset.css");

body {
	background-color: #f3f3f3;
}

.header {
	background-color: #c4e8f8;
    border-bottom-color: #f3f3f3;
    border-bottom-style: solid;
    border-bottom-width: 30px;
}

.appNameLink {
    color: #599f54;
    font-family: "Chicle", cursive;
    font-size: 60px;
    margin-left: 50px;
}

.navLinks {
	float: right;
	display: inline;
}

.oauthPath .gLogin {
	font-family: 'Boogaloo', cursive;
	font-weight: bold;
}

.wrapper {
	margin-left: 40px;
}

.textarea1 {
	width: 40%;
	background-color: #c4e8f8;
	font-family: 'Muli', sans-serif;
	padding: 50px;
	float: right;
	position: absolute;
	margin-left: 400px;
}

.textarea2 {
	background-color: #c4e8f8;
	font-family: 'Muli', sans-serif;
	padding: 50px;
	float: left;
	position: absolute;
}

#link-one {
	
}

#link-two {

}

#link-three {

}

p {
	font-family: 'Muli', sans-serif;
}

.modal-content .modal-content-error {
	background-color: aliceblue;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #c4e8f8;
    z-index: 100;
}

.text-area-center {
	width: 40%;
	background-color: #c4e8f8;
	font-family: 'Muli', sans-serif;
	padding: 50px;
	position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}

.text-area-1 {

}

.text-area2 {
	width: 40%;
	background-color: #c4e8f8;
	font-family: 'Muli', sans-serif;
	padding: 50px;
}

#message-cancel {
	background-color: #599f54;
}

#message-ok {
	background-color: #599f54;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}